---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'

---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          I’m a medical doctor who somehow ended up breaking smart contracts instead of bones.
        </p>
        <p>
          My main focus is Blockchain/Web3 security, especially pentesting and CTFs. I’m currently active as a CTF player with TCP1P. Blockchain is my comfort zone but if there’s nothing to play, I’ll pivot to Misc without hesitation.
        </p>
        <p>
          If it’s written here, it probably took longer to understand than I’d like to admit.
        </p>
      </div>

    </div>
  </section>
</Layout>
